<div id="profile">
{{#if sessuser}}
<h1>Välkommen {{sessuser.username}}</h1>
<p>lägg till information om dig!</p>
{{#if usersprofile}}
{{#each usersprofile}}
<p>Namn: {{name}}</p>
<p>Ålder: {{age}} år</p>
    <form id="editbutton" action="/profile/aboutMe/{{id}}" method="GET">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">Ändra</button>
    </form>

    {{/each}}
{{else}}
<form id="addprofile" action="/profile" method="POST">
<input id='name' name='name' placeholder='Name' type="text">
<br>
<input id='age' name='age' placeholder="Age" type="number">
<br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button type="submit">Send</button>
</form>
{{/if}}

   {{/if}}
</div>