
{{!-- {{#each profiles}} --}}
{{#if user}}
<p id="user">{{user}}</p>
<p>Namn: {{name}}</p>
<p>Ålder: {{age}} år</p>
{{else}}
<p>{{username}}</p>
{{/if}}
{{!-- {{/each}} --}}
{{!-- <form action="/videoChat" method="GET">
<button id="callbtn">Call</button>
</form> --}}

